arff
asn1crypto
atomicwrites
attrs
bloom-filter
certifi
cffi
chardet
cloudpickle
colorama
cryptography
cycler
dask
decorator
ete3
idna
joblib
keyring
keyrings.alt
kiwisolver
lark-parser
locket
matplotlib
mock
more-itertools
mpmath
networkx==2.8.8
numexpr
numpy
pandas
partd
patsy
pluggy
psycopg2-binary
py
py4j
pybind11
pycparser
pycryptodome
pydot
pyparsing
PyQt5
PyQt5-sip
pytest
python-dateutil
pytz
pyverdict
pyxdg
PyYAML
requests
scikit-learn
scipy
SecretStorage
six
sklearn
spflow
SQLAlchemy
sqlparse
statsmodels
sympy
tables
toolz
tqdm
urllib3
var-dump
